<header class="navbar navbar-dark navbar-expand bd-navbar sticky-top bg-dark shadow">
    <!-- Fixed navbar -->
    <nav class="container-fluid bd-gutter flex-wrap flex-lg-nowrap p-0" aria-label="Main navigation">
        <div class="container-xxl d-flex justify-content-between">
            <a class="navbar-brand" href="/">
                <img src="resources/icons/icon.png" alt="SisBackup Logo" width="30" height="30" class="d-inline-block align-text-top"> 
                SisBackup
            </a>
            <div class="" id="navbarCollapse">
                <ul class="navbar-nav nav-underline mx-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="./">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./hosts">Hosts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./jobs">Jobs</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand px-0 me-0" href="/admin/login">Login</a>
        </div>
    </nav>
</header>